<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "TestSuite">
    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter"/>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
    </listeners>

    <test name = "LoginTests">
        <classes>
            <class name = "tests.LoginTests"/>
        </classes>
    </test>
</suite>
